.jumbotron {
    background-color: #3f51b5;
    color: white;
}

.hotel-footer {
    background-color: #3f51b5;
    margin-top: 5rem;
}

.card-hotel {
    flex: 1 20rem;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    justify-content: space-between;
}

.card-hotel-button {
    background-color: #f50057;
    color: white;
    width: 100%;
}

.hotel-footer-info {
    color: white;
    margin: 0.5rem;
}

.hotel-footer-link {
    color: white;
}

.hotel-footer-link:hover {
    color: #f50057;
}

.footer-element {
    margin: 1rem;
}

address p {
    margin: 0;
}

